<?xml version="1.0" ?>
<robot name="rel_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="green" value="0 0.8 0 1" />
  <xacro:property name="red" value="0.8 0 0 1" />
  <xacro:property name="blue" value="0 0 0.8 1" />
  <xacro:property name="cell_step" value="0.134"/>

  <xacro:macro name="voxel" params="name origin color" >
    <link name="${name}">
      <visual>
        <geometry>
            <mesh filename="/home/lao/Documents/Masterarbeit/git/SRRS_gazebo_sim/ros2_ws/src/srrs_sim/meshes/Voxel.stl" scale="0.001 0.001 0.001"/>
            <!-- <box size="0.1 0.1 0.1"/> -->
        </geometry>
        <origin xyz="${origin}"/>
      </visual>
      <collision>
         <geometry>
          <mesh filename="/home/lao/Documents/Masterarbeit/git/SRRS_gazebo_sim/ros2_ws/src/srrs_sim/meshes/Voxel.stl" scale="0.001 0.001 0.001"/>
            <!-- <box size="0.1 0.1 0.1"/> -->
         </geometry>
      </collision>
      <inertial>
        <mass value="0.1"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>
    <gazebo reference="${name}">
      <visual>
        <material>
          <ambient>${color}</ambient>
          <diffuse>${color}</diffuse>
        </material>
      </visual>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="joint_fix" params="name parent child" >
    <joint name="${name}" type="fixed">
      <origin xyz="0 0 0"/>
      <parent link="${parent}"/>
      <child link="${child}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="joint_revolution" params="name parent child origin axis rpy" >
    <joint name="${name}" type="revolute">
      <axis xyz="${axis}"/> 
      <origin xyz="${origin}"/>
      <parent link="${parent}"/>
      <child link="${child}"/>
      <limit effort="50.0" lower="-6.29" upper="6.29" velocity="1"/>
      <dynamics damping="0.1" friction="0.1"/>
    </joint>
    <link name="${name}visual">
      <visual>
        <geometry>
            <cylinder radius="0.01" length="0.1"/>
        </geometry>
        <origin rpy="${rpy}" xyz="${origin}"/>
      </visual>
    </link>
    <xacro:joint_fix name="${name}visualfixed" parent="${parent}" child="${name}visual"/>
  </xacro:macro>

  <!-- <link name="world"/> -->
  <xacro:voxel name="block0_fix" origin="0 0 0" color="${red}"/>
  <!-- <xacro:joint_fix name="world_to_base" parent="world" child="block0_fix"/> -->

  <xacro:voxel name="block1_rev" origin="0 0 0" color="${green}"/>
  <xacro:joint_revolution name="rev0_1" parent="block0_fix" child="block1_rev" axis="0 0 1" origin="0 0 ${cell_step}" rpy="0 0 0"/>

  <xacro:voxel name="block2_rev" origin="0 0 ${1*cell_step}" color="${green}"/>
  <xacro:joint_fix name="fixed1_2" parent="block1_rev" child="block2_rev"/> 
  <xacro:voxel name="block3" origin="0 ${1*cell_step} ${-0.5*cell_step}" color="${blue}"/>
  <xacro:joint_revolution name="rev2_3" parent="block2_rev" child="block3" axis="0 1 0" origin="0 0 ${1.5*cell_step}" rpy="1.57 0 0"/>

  <xacro:voxel name="block4" origin="0 ${1*cell_step} ${0.5*cell_step}" color="${blue}"/>
  <xacro:joint_fix name="fixed3_4" parent="block3" child="block4"/>
  <xacro:voxel name="block5_rev" origin="0 ${1*cell_step} ${1.5*cell_step}" color="${green}"/>
  <xacro:joint_fix name="fixed4_5" parent="block4" child="block5_rev"/>

  <xacro:voxel name="block6" origin="0 ${-1*cell_step} ${-0.5*cell_step}" color="${blue}"/>
  <xacro:joint_revolution name="rev5_6" parent="block5_rev" child="block6" axis="0 1 0" origin="0 ${1*cell_step} ${2*cell_step}" rpy="1.57 0 0"/>

  <xacro:voxel name="block7" origin="0 ${-1*cell_step} ${0.5*cell_step}" color="${blue}"/>
  <xacro:joint_fix name="fixed6_7" parent="block6" child="block7"/> 

  <xacro:voxel name="block8" origin="0 ${-1*cell_step} ${1.5*cell_step}" color="${blue}"/>
  <xacro:joint_fix name="fixed7_8" parent="block7" child="block8"/> 

  <xacro:voxel name="block9_rev" origin="0 ${0*cell_step} ${-0.5*cell_step}" color="${green}"/>
  <xacro:joint_revolution name="rev8_9" parent="block8" child="block9_rev" axis="0 1 0" origin="0 ${0*cell_step} ${2*cell_step}" rpy="1.57 0 0"/>

  <xacro:voxel name="block10" origin="0 0 ${0.5*cell_step}" color="${green}"/>
  <xacro:joint_fix name="fixed9_10" parent="block9_rev" child="block10"/> 

  <xacro:voxel name="block14fix" origin="0 0 0" color="${red}"/>
  <xacro:joint_revolution name="rev13_14" parent="block10" child="block14fix" axis="0 0 1" origin="0 0 ${1.5*cell_step}" rpy="0 0 0"/>


  
  <link name="camera_link">
    <visual name="camera_link_visual">
      <geometry>
        <box size="0.05 0.05 0.05"/>  
      </geometry>
    </visual>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="block14fix"/>  
    <child link="camera_link"/>
    <origin xyz="0.1 0 0" rpy="0 0 0"/>  
  </joint>

  <link name="camera_link_optical"/>
  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_link_optical"/>
    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/> 
  </joint>


  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="rev0_1">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="rev2_3">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="rev5_6">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="rev8_9">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="rev13_14">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <!-- <parameters>$(find srrs_sim)/config/two_blocks_controller.yaml</parameters> -->
      <parameters>$(find srrs_sim)/config/robot_controller.yaml</parameters>
    </plugin>

    <!-- <plugin
      filename="libgz-sim8-detachable-joint-system.so"
      name="gz::sim::systems::DetachableJoint">
      <parent_link>block14fix</parent_link>
      <child_model>voxel</child_model>
      <child_link>voxel_link</child_link>
      <attach_topic>attach_link_voxel</attach_topic>
      <detach_topic>detach_link_voxel</detach_topic>
      <output_topic>detachable_link_voxel_state</output_topic>
    </plugin> -->

    <plugin
      filename="libgz-sim8-detachable-joint-system.so"
      name="gz::sim::systems::DetachableJoint">
      <parent_link>block0_fix</parent_link>
      <child_model>base</child_model>
      <child_link>base_link</child_link>
      <attach_topic>attach_link1</attach_topic>
      <detach_topic>detach_link1</detach_topic>
      <output_topic>detachable_link_state1</output_topic>
    </plugin>

    <plugin
      filename="libgz-sim8-detachable-joint-system.so"
      name="gz::sim::systems::DetachableJoint">
      <parent_link>block14fix</parent_link>
      <child_model>base</child_model>
      <child_link>base_link</child_link>
      <attach_topic>attach_link2</attach_topic>
      <detach_topic>detach_link2</detach_topic>
      <output_topic>detachable_link_state2</output_topic>
    </plugin>


    <plugin
      filename="libgz-sim8-detachable-joint-system.so"
      name="gz::sim::systems::DetachableJoint">
      <parent_link>block0_fix</parent_link>
      <child_model>voxel</child_model>
      <child_link>voxel</child_link>
      <attach_topic>attach_obj_link1</attach_topic>
      <detach_topic>detach_obj_link1</detach_topic>
      <output_topic>detachable_obj_link_state1</output_topic>
    </plugin>

    <plugin
      filename="libgz-sim8-detachable-joint-system.so"
      name="gz::sim::systems::DetachableJoint">
      <parent_link>block14fix</parent_link>
      <child_model>voxel</child_model>
      <child_link>voxel</child_link>
      <attach_topic>attach_obj_link2</attach_topic>
      <detach_topic>detach_obj_link2</detach_topic>
      <output_topic>detachable_obj_link_state2</output_topic>
    </plugin>

    <sensor name="camera_sensor" type="camera">
      <always_on>1</always_on>
      <update_rate>30.0</update_rate>
      <camera>
        <horizontal_fov>1.5708</horizontal_fov> <!-- 90 degrees in radians -->
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
      </camera>
      <plugin name="camera_plugin" filename="libgz-sensors8-camera.so">
        <topic_name>/camera/image_raw</topic_name>
        <frame_name>camera_link</frame_name>
      </plugin>
    </sensor>

  </gazebo>

</robot>
