<?xml version="1.0" ?>
<robot name="two_blocks_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="green" value="0 0.8 0 1" />
  <xacro:property name="red" value="0.8 0 0 1" />
  <xacro:property name="blue" value="0 0 0.8 1" />
  <xacro:property name="cell_step" value="0.134"/>

  <xacro:macro name="voxel" params="name origin color" >
    <link name="${name}">
      <visual>
        <geometry>
            <mesh filename="/home/lao/Documents/Masterarbeit/Simulation/ros2_ws/src/srrs_sim/meshes/Voxel.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="${origin}"/>
      </visual>
      <inertial>
        <mass value="100"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>
    <gazebo reference="${name}">
      <visual>
        <material>
          <ambient>${color}</ambient>
          <diffuse>${color}</diffuse>
        </material>
      </visual>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="joint_fix" params="name parent child" >
    <joint name="${name}" type="fixed">
      <origin xyz="0 0 0"/>
      <parent link="${parent}"/>
      <child link="${child}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="joint_revolution" params="name parent child axis" >
    <joint name="${name}" type="revolute">
      <axis xyz="${axis}"/> 
      <origin xyz="0 0 0"/>
      <parent link="${parent}"/>
      <child link="${child}"/>
      <limit effort="50.0" lower="-6.29" upper="6.29" velocity="1"/>
      <dynamics damping="0.1" friction="0.1"/>
    </joint>
  </xacro:macro>

  <link name="world"/>
  <xacro:voxel name="base_block" origin="0 0 0" color="${red}"/>
  <xacro:voxel name="block1" origin="0 0 ${cell_step}" color="${green}"/>
  <xacro:joint_fix name="world_to_base" parent="world" child="base_block"/>
  <xacro:joint_revolution name="base_to_block1" parent="base_block" child="block1" axis="0 0 1"/>

  <xacro:voxel name="block2" origin="0 0 ${2*cell_step}" color="${blue}"/>
  <xacro:joint_fix name="fixed1-2" parent="block1" child="block2"/>

  <xacro:voxel name="block3" origin="0 0 ${3*cell_step}" color="${blue}"/>
  <xacro:joint_fix name="fixed2-3" parent="block2" child="block3"/>

  <xacro:voxel name="block4" origin="0 ${1*cell_step} ${3*cell_step}" color="${red}"/>
  <xacro:joint_revolution name="block3_to_block4" parent="block3" child="block4" axis="0 1 0"/>


  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="base_to_block1">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="block3_to_block4">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find srrs_sim)/config/two_blocks_controller.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
