<?xml version="1.0" ?>
<robot name="part" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="part_num" default="0"/>
    <xacro:property name="green" value="0 0.8 0 1" />
    <xacro:property name="red" value="0.8 0 0 1" />
    <xacro:property name="blue" value="0 0 0.8 1" />
    <xacro:property name="yellow" value="1 1 0 1" />
    <xacro:property name="grey" value="0.2 0.2 0.2 1" />
    <xacro:property name="black" value="0 0 0 1" />
    <link name="part">
        <visual>
            <geometry>
                <mesh filename="/home/lao/Documents/Masterarbeit/git/SRRS_gazebo_sim/ros2_ws/src/srrs_sim/meshes/Voxel.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision name="part_collision">
            <geometry>
                <mesh filename="/home/lao/Documents/Masterarbeit/git/SRRS_gazebo_sim/ros2_ws/src/srrs_sim/meshes/Voxel.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </link>

    <gazebo reference="part">
        <visual>
            <material>
                <ambient>${black}</ambient>
                <diffuse>${black}</diffuse>
            </material>
        </visual>
    </gazebo>
    <gazebo>
        <plugin
            filename="libgz-sim8-detachable-joint-system.so"
            name="gz::sim::systems::DetachableJoint">
            <parent_link>part</parent_link>
            <child_model>robot</child_model>
            <child_link>block0</child_link>
            <attach_topic>attach_end1_part${xacro.arg('part_num')}</attach_topic>
            <detach_topic>detach_end1_part${xacro.arg('part_num')}</detach_topic>
            <output_topic>detachable_obj_end1_state${xacro.arg('part_num')}</output_topic>
            <suppress_child_warning>true</suppress_child_warning>
        </plugin>
        <plugin
            filename="libgz-sim8-detachable-joint-system.so"
            name="gz::sim::systems::DetachableJoint">
            <parent_link>part</parent_link>
            <child_model>robot</child_model>
            <child_link>block11</child_link>
            <attach_topic>attach_end2_part${xacro.arg('part_num')}</attach_topic>
            <detach_topic>detach_end2_part${xacro.arg('part_num')}</detach_topic>
            <output_topic>detachable_obj_end2_state${xacro.arg('part_num')}</output_topic>
            <suppress_child_warning>true</suppress_child_warning>
        </plugin>
        <plugin
            filename="libgz-sim8-detachable-joint-system.so"
            name="gz::sim::systems::DetachableJoint">
            <parent_link>part</parent_link>
            <child_model>base</child_model>
            <child_link>base_link</child_link>
            <attach_topic>attach_part${xacro.arg('part_num')}_base</attach_topic>
            <detach_topic>detach_part${xacro.arg('part_num')}_base</detach_topic>
            <suppress_child_warning>true</suppress_child_warning>
        </plugin>
        <plugin filename="gz-sim-pose-publisher-system" name="gz::sim::systems::PosePublisher">
            <use_pose_vector_msg>false</use_pose_vector_msg>
            <update_frequency>30</update_frequency> 
            <publish_nested_model_pose>true</publish_nested_model_pose>
        </plugin>
    </gazebo>

</robot>
